.header {
  margin-bottom: 10px;
}

.player {
  font-size: 20px;
}

.player .game {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

.bigboard-component {
  padding: 20px;
  margin: 40px auto;
  max-width: 500px;
}

/* SmallBoard correct sizing */
.bigboard-component .smallboard-component {
  float: left;
  width: calc(100%/3);
  box-sizing: border-box;
}

/* BigBoard divisions */
.bigboard-component > .row + .row {
  border-top: 3px solid #555;
}

.bigboard-component .smallboard-component {
  border-left: 3px solid transparent;
}

.bigboard-component .smallboard-component + .smallboard-component {
  border-left-color: #555;
}
